<footer>
    <div class="copyright">© Copyright {{ "now"|date('Y') }} {{ site.name }}.</div>
    <nav>
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
        </ul>
    </nav>
</footer>
