<!doctype html>
<html class="no-js" lang="{{ site.language_attributes }}">
<head>
    {% include 'element/layout/html-header.twig' %}
    {% block head_scripts %}
    {% endblock %}
    {% if GoogleAnalyticsID %}

        <!-- Google Analytics -->
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', '{{ GoogleAnalyticsID }}', 'auto');
            ga('send', 'pageview');

        </script>
        <!-- End Google Analytics -->
    {% endif %}
</head>
<body class="{{ body_class }}" data-template="base.twig">

{% include 'element/layout/browse-happy.twig' %}

<!-- Start Header -->
{% include 'element/layout/header.twig' %}
<!-- End Header -->

<!-- Start Content -->
<main>
    {% block content %}
    {% include 'element/layout/main.twig' %}
    {% endblock %}
</main>
<!-- End Content -->

<!-- Start Footer -->
{% block footer %}
    {% include 'element/layout/footer.twig' %}
{% endblock %}
<!-- End Footer -->

{{ function('wp_footer') }}
{% block foot_scripts %}
{% endblock %}
</body>
</html>
